.Login {
  &-mid {
    &-input {
      &-point {
        display: flex;
        &-arr {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: #f0f0f2;
          border: none;
          margin-right: 15px;
        }
      }
      &-number {
        width: 270px;
        margin-left: 49px;
        margin-top: 43px;
        &-arr {
          display: inline-block;
          width: 18px;
          height: 38px;
          font-size: 30px;
          color: #3e77ec;
          margin-right: 70px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
