.PageTemplate {
  border-radius: 5px;
  width: 420px;
  height: 850px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
