.Login {
  text-align: left;
  width: 420px;
  height: 850px;
  &-top {
    margin-left: 17px;
    margin-top: 22px;
    margin-bottom: 49px;
    &-img {
      margin-bottom: 100px;
    }
    &-text {
      margin-left: 13px;
      font-size: 25px;
      font-weight: bold;
    }
  }
  &-mid {
    margin-left: 62px;
  }
  &-bottom {
    margin-left: 17px;
    margin-top: 30px;
    &-btn {
      background-color: #3e77ec;
      color: #fff;
      font-size: 20px;
      border: none;
      border-radius: 5px;
      width: 386px;
      height: 60px;
    }
    &-changeBtn {
      width: 183px;
      height: 43px;
      background-color: #f0f0f2;
      font-size: 15px;
      font-weight: lighter;
      border: none;
      border-radius: 5px;
      margin-left: 98px;
      margin-top: 30px;
    }
  }
}
